<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- Bootstrap Materia Theme By Bootswatch -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/materia/bootstrap.min.css" rel="stylesheet" integrity="sha384-SYbiks6VdZNAKT8DNoXQZwXAiuUo5/quw6nMKtFlGO/4WwxW86BSTMtgdzzB9JJl" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>Random Sentence</title>
  </head>
  <body>
    <div class="d-flex justify-content-center align-items-center vh-100 flex-column">
      <blockquote class="blockquote text-center">
        <p class="mb-0" id="elemento_da_frase">{{frase.frase}}</p>
        <footer class="blockquote-footer" id="elemento_do_autor">{{ frase.autor }}</cite></footer>
      </blockquote>
      <button class="btn btn-link" id="botao_mudar_frase">Outra frase</button>
    </div>
    <script>
    $("#botao_mudar_frase").click(function(){
      $.get("frase", function(resposta){
        $("#elemento_da_frase").text(resposta.frase.frase);
        $("#elemento_do_autor").text(resposta.frase.autor);
      });
    });
    </script>
  </body>
</html>
