<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Random Sentence</title>
  </head>
  <body>
    <main>
      <blockquote>
        {{ frase }}
      </blockquote>
    </main>
    <div>
      <button>Frase Nova</button>
    </div>
  </body>
</html>
