<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- Bootstrap Materia Theme By Bootswatch -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/materia/bootstrap.min.css" rel="stylesheet" integrity="sha384-SYbiks6VdZNAKT8DNoXQZwXAiuUo5/quw6nMKtFlGO/4WwxW86BSTMtgdzzB9JJl" crossorigin="anonymous">
    <title>Random Sentence</title>
  </head>
  <body>
    <div class="d-flex justify-content-center align-items-center vh-100">
      <blockquote class="blockquote text-center">
        <p class="mb-0" id="elemento_da_frase">{{frase}}</p>
        <footer class="blockquote-footer">Alguém em algum lugar</cite></footer>
      </blockquote>
    </div>
  </body>
</html>
